*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background: rgb(0, 84, 145);
}
.container{
    width: inherit;
    height: inherit;
    position: relative;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 10px 15px;
}
.box h1{
    padding: 0 20px 0px 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
.box i{
    cursor:pointer;
    padding:5px;
}
#inc{
    padding-left:20px ;
}
#dec{
    padding-right:  20px ;
}
p{
    position: absolute;
    top: 40%;
    color: white;
    font-size: 25px;
    left: 50%;
    transform: translate(-50%,-50%);
}